@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-bg-primary: #010A26;
    --color-bg-secondary: #0D0D0D;

    --color-primary: #044BD9;
    --color-secondary: #021E73;

    --color-base: #F2F2F2;

    --color-text1: #FFFFFF;
    --color-text2: #0D0D0D;
}
